<?xml version="1.0" encoding="UTF-8"?>
<Configuration>

    <Appenders>
        <File name="MyFile" fileName="logs/app-${date:yyyy-MM dd-HH.mm.ss}.log"/>
    </Appenders>

    <Loggers>
        <!-- LOG everything at INFO level -->
        <Root level="info">
            <AppenderRef ref="MyFile"/>
        </Root>
    </Loggers>

</Configuration>
